.header{
	padding: 1rem;
	text-align: center;
	color: #808080;
}

.articles-header{
	color: #606060;
}

.articles-btn{
	text-align: right;
}

.articles-info{
	color: #606060;
	font-style: italic;
}

.user-buttons{
	padding-bottom: 1rem;
}